.intro {
	background: url(../images/banner.jpg);
	background-size: 100%;
}
.intro::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;	
    background: rgba(5, 35, 58, 0.78);
    opacity: 1;
	transition: opacity 500ms ease 0.3s;
}
.intro:hover::before{
	opacity: 0;
}
.intro__block{
    padding:100px 200px;
    color: #fff;
    width: 3px solid white;
    margin: auto;
    z-index: 1;
}
.logo h1 {
    font-size: 20px;   
}
.intro__block h2{
	padding-bottom: 15px;
	position: relative;
	z-index: 1;
}

header {
    color: white;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.logo span {
	background: white;
	color: black;
	padding: 5px 10px;
}
.menu {
    padding-top: 20px;
    font-size: 20px;
}
h2{
	border-bottom: 4px solid white;
}

h3{
	padding-bottom: 12px;
	color: white;
	border-bottom: 2px solid white;
}
p{
	color: white;
}

.gallery__block{
    padding: 100px 60px;
    position: relative;
    z-index: 1;
}

.bg1{
background: url(../images/pic01.jpg);
background-size: cover; 
}
.bg2{
background: url(../images/pic02.jpg);
background-size: cover; 	
}
.bg3{
background: url(../images/pic03.jpg);
 background-size: cover; 	
}
.bg4{
background: url(../images/pic04.jpg);
 background-size: cover; 	
}
.bg5{
background: url(../images/pic05.jpg);
background-size: cover; 	
}
.bg6{
background: url(../images/pic06.jpg);	
background-size: cover; 
}
.gallery__slide::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
	transition: opacity 500ms ease 0.3s;
}
.gallery__slide:hover::before{
opacity: 0;
}
.bg1::before{
    background: rgba(70, 156, 220, 0.78);
}
.bg2::before{
    background: rgba(109, 95, 184, 0.77);
}
.bg3::before{
    background: rgba(236, 64, 51, 0.68);
}
.bg4::before{
    background: rgba(215, 157, 49, 0.68);
}
.bg5::before{
    background: rgba(95, 114, 184, 0.71);
}
.bg6::before{
    background: rgba(184, 235, 127, 0.52);
}


.last{
	background:#2b3253; 
}
.last__block{
	padding: 80px 30px;
	margin: auto;
    position: relative;
    z-index: 1;
}
.last__name{
	font-size: 30px;
	color: white;
	border-bottom: 3px solid white; 
	padding-bottom: 3px;
}
.modal-body{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background:rgba(5, 26, 58, 0.94);
	z-index: 2;
}
#modal-opener{
	display: none;
}
#modal-opener:checked + .modal-body{
	display: block;
}
.modal-body span{
	color: white;
}
.btn-knopka{
	width: 20%;
    padding: 20px;
    color: white;
    border-radius: 0;
    font-size: 20px;
    margin: auto;
    border-bottom: : 1px solid white;
}
.btn-knopka:hover{
	background: white;
	color:black;
}
.modal__window{
	padding-top: 25px ; 
}

.btn-main{
	width: 200px;
	height: 40px;
	color: white;
	border: 3px solid white;
	border-radius: 0;
}
.btn-main:hover{
	color:rgb(105, 236, 254);
}

.feedback{
	color: white;
	padding: 20px 20px 20px 50px;
}

.feedback label span {
    width: 100%;
    display: block;
    padding-bottom: 10px;
}	
.feedback label input {
    border: 2px solid transparent;
    background:#2b3253 ;
    width: 100%;
    height: 40px;  
}
.feedback label {
	width: 100%;
}

#messege{
	border: 2px solid transparent;
    background:#2b3253;
	width: 100%;
	padding-bottom: 10px;
}
.btn-feed{
	color: rgb(33, 78, 128);
	border-radius: 0;
	background: white; 
	width: 20%;
	margin-top: 25px;
	margin-right: 15px;
	padding: 10px;
}
.btn-feed:hover{

	background:rgb(105, 236, 254);
}
.feed{
	background: #242943;
}
.feed-block{
	margin: auto;
    position: relative;
    z-index: 1;
    border: 0.5px solid grey;
}
.pad{
	padding-left: 0px;
}

.cont{
	border: 0.5px solid grey;
	padding: 30px 10px;
}
 h5 {
 	font-size: 20px;
 	color: white;
 }
 .pad:last-child {
    padding-right: 0px;
}

@media (max-width: 991px){
	.feedback {
   		padding-left: 40px;
    	padding-right: 40px;
	}
	.pad:first-child {
    	padding-right: 0px;
	}
}
@media (max-width: 768px){
	.intro__block {
   	 	padding: 15px;
   		padding-top: 50px;
	}
}
@media (max-width: 426px){
	.btn-knopka {
    	width: 50%;
    }
}

.flex-form {
    color: #fff;
    display: flex;
}
.flex__column.flex__column_left {
    flex-grow: 60;
}


.flex__column.flex__column_right {
    flex-grow: 40;
}

.flex-wrap{
	flex-wrap: nowrap;
}